/* -------- General Styles -------- */

body {
	background: linear-gradient(CornflowerBlue, rgba(0, 0, 0, 0) 90%),
		linear-gradient(-45deg, LightSeaGreen 25%, indigo 75%);
	font-family: "Roboto", sans-serif;
	height: 100vh;
	padding-top: 8%;
}
div.container {
	max-width: 400px;
	margin: 0 auto;
	background: #f7f7f7;
	box-shadow: inset 0 0 2px SlateBlue, 0 0 3px SlateBlue;
}

/* ------- Header in To-Do List ------- */

h1.header {
	padding: 8px 20px;
	margin: 0;
	background: SlateBlue;
	color: white;
	font-weight: normal;
}
input[type = 'text'].header {
	line-height: 45px;
	width: 100%;
	padding: 0 20px;
	border: 4px solid white;
	box-sizing: border-box;
	color: SlateBlue;
	display: none;
}
input[type = 'text'].header:focus {
	border: 4px solid SlateBlue;
	outline: none;
}
i.plus.icon {
	float: right;
}
i.plus.icon:hover {
	font-weight: 900;
	font-size: 1.7rem;
	color: lavender;
}

/* -------- To-Do List Styles -------- */

.completed {
	color: gray;
	text-decoration: line-through;
}
ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}
li {
	line-height: 40px;
}
li:nth-child(odd) {
	background: Lavender;
}
li span.text {
	padding: 0 10px;
}
li span.bin {
	display: inline-block;
	width: 0px;
	transition: width 0.3s linear;
	text-align: center;
	background: coral;
	color: white;
	opacity: 0;
}
li:hover span {
	width: 40px;
	opacity: 1;
}
